<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title><%=error.title%></title>

    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css'>

    <link rel="stylesheet" href="css/error.css">


</head>
<body>

<div class="wrapper">
    <div class="header">
        <h3><%=error.title%></h3>
        <p><%=error.message%></p>
    </div>
</div>

</body>
</html>